#h {
    text-align: center;
    color: royalblue;

}
p {
    font-family: sans-serif;
    text-align: left;
    color: black;

}
ul {
    list-style: square;
    color: red;

}
.list {
    font-variant-numeric: normal;
}
img {
    float: right;
    display: inline ;

}