h1,h2 {
    text-align: center;
    color: royalblue;
    border: 15px outset burlywood;
    background-color: darkgrey;

}
p {
    font-family: sans-serif;
    text-align: left;
    color: black;

}
ul {
    list-style: square;
    font-family: sans-serif;

}
ol {
    list-style: lower-alpha;
    font-family: sans-serif;

}
.list {
    font-variant-numeric: normal;
}
img {
    float: right;
    border: 2px outset burlywood;

}
.div1 {
    border: 10px outset rosybrown;
    background-color: burlywood;
    text-align: left;
}
.div2 {
    border: 10px outset rosybrown;
    background-color: burlywood;
    text-align: left;
}
.div3 {
    border: 5px outset rosybrown;
    background-color: aqua;
    text-align: left;
}